.gird{
    
    width: 100%;
    display: block;
    padding: 0;
}

.gird.wide{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.row-no-guter{
    margin-left: 0px;
    margin-right: 0px;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}

.row-no-guter .col{
    padding-left: 0px;
    padding-right: 0px;
}

.c-0{
    display: none;
}

.c-1{
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
}

.c-2{
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
}

.c-3{
    max-width: 25%;
    flex: 0 0 25%;
}

.c-4{
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}

.c-5{
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
}

.c-6{
    max-width: 50%;
    flex: 0 0 50%;
}

.c-7{
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
}

.c-8{
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
}

.c-9{
    max-width: 75%;
    flex: 0 0 75%;
}

.c-10{
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
}

.c-11{
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
}

.c-12{
    max-width: 100%;
    flex: 0 0 100%;
}

/* tablet -pc low*/
@media ( min-width: 740px ) and (max-width:1023px){
      .wide{
          width: 644px;
      }
      

    .col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0{
        display: none;
    }
    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12{
        display: block;
    }
    .m-1{
        max-width: 8.33333%;
        flex: 0 0 8.33333%;
    }
    
    .m-2{
        max-width: 16.66667%;
        flex: 0 0 16.66667%;
    }
    
    .m-3{
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .m-4{
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }
    
    .m-5{
        max-width: 41.66667%;
        flex: 0 0 41.66667%;
    }
    
    .m-6{
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .m-7{
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }
    
    .m-8{
        max-width: 66.66667%;
        flex: 0 0 66.66667%;
    }
    
    .m-9{
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .m-10{
        max-width: 83.33333%;
        flex: 0 0 83.33333%;
    }
    
    .m-11{
        max-width: 91.66667%;
        flex: 0 0 91.66667%;
    }
    
    .m-12{
        max-width: 100%;
        flex: 0 0 100%;
    } 

}

/* pc low > */
@media(min-width:1113px){

    .col{
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0{
        display: none;
    }
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12{
        display: block;
    }
    .l-1{
        max-width: 8.33333%;
        flex: 0 0 8.33333%;
    }
    
    .l-2{
        max-width: 16.66667%;
        flex: 0 0 16.66667%;
    }
    
    .l-3{
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .l-4{
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }
    
    .l-5{
        max-width: 41.66667%;
        flex: 0 0 41.66667%;
    }
    
    .l-6{
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .l-7{
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }
    
    .l-8{
        max-width: 66.66667%;
        flex: 0 0 66.66667%;
    }
    
    .l-9{
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .l-10{
        max-width: 83.33333%;
        flex: 0 0 83.33333%;
    }
    
    .l-11{
        max-width: 91.66667%;
        flex: 0 0 91.66667%;
    }
    
    .l-12{
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* >pc low */
@media (min-width:1024px) and (max-width:1239px){
    .wide{
        width: 984px;
    }
    
    .wide .col{
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .l-0 {
        display: none;
    }
    .wide .l-1,
    .wide .l-2,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12{
        display: block;
    }
    .wide .l-1{
        max-width: 8.33333%;
        flex: 0 0 8.33333%;
    }
    
    .wide .l-2{
        max-width: 16.66667%;
        flex: 0 0 16.66667%;
    }
    
    .wide .l-3{
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .wide .l-4{
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }
    
    .wide .l-5{
        max-width: 41.66667%;
        flex: 0 0 41.66667%;
    }
    
    .wide .l-6{
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .wide .l-7{
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }
    
    .wide .l-8{
        max-width: 66.66667%;
        flex: 0 0 66.66667%;
    }
    
    .wide .l-9{
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .wide .l-10{
        max-width: 83.33333%;
        flex: 0 0 83.33333%;
    }
    
    .wide .l-11{
        max-width: 91.66667%;
        flex: 0 0 91.66667%;
    }
    
    .wide .l-12{
        max-width: 100%;
        flex: 0 0 100%;
    }
}
